<div class="d-flex justify-content-center"><h2>{{'CLIENT.LABEL.PLURAL' | translate}}</h2></div>
<button
  mat-fab
  color="primary"
  matTooltip="{{'ACTIONS.CREATE' | translate}}"
  matTooltipPosition="right"
  (click)="openCreateDialog()">
  <mat-icon>person_add</mat-icon>
</button>

<div class="mt-3">
  <app-table
    [dataSource]="data$ | async"
    [entity]="'CLIENT'"
    [displayedColumns]="displayedColumns"
    (updateEvent)="openUpdateDialog($event)"
    (deleteEvent)="openDeleteDialog($event)"
  ></app-table>
</div>

<ng-template #template>
  <div mat-dialog-title>
    <div class="d-flex justify-content-end" style="margin-right: -23px; margin-top: -23px;">
      <button mat-icon-button mat-dialog-close>
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div>{{dialogTitle | translate}}</div>
  </div>
  <div mat-dialog-content>
    <ng-container *ngIf="dialogActionType === DIALOG_ACTION_TYPE.REMOVE" [ngTemplateOutlet]="removeTemplate"></ng-container>
    <ng-container *ngIf="dialogActionType !== DIALOG_ACTION_TYPE.REMOVE" [ngTemplateOutlet]="formTemplate"></ng-container>
  </div>
  <div mat-dialog-actions class="d-flex justify-content-end">
    <button mat-raised-button color="primary" [mat-dialog-close]="true" (click)="dialogMainAction()">{{dialogMainActionName | translate}}</button>
    <button mat-raised-button mat-dialog-close>{{'ACTIONS.CLOSE' | translate}}</button>
  </div>
</ng-template>

<ng-template #removeTemplate>
  <div>Esta seguro que desea eliminar el cliente?</div>
</ng-template>
<ng-template #formTemplate>
  <div [formGroup]="form">
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>First Name</mat-label>
      <input matInput placeholder="Jhon" value="" formControlName="first_name" required>
    </mat-form-field>
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput placeholder="jhon@gmail.com" value="" formControlName="email" required>
      <mat-icon matSuffix>email</mat-icon>
    </mat-form-field>
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Phone Number</mat-label>
      <input matInput placeholder="777777777" value="" formControlName="phone_number" required>
      <mat-icon matSuffix>phone</mat-icon>
    </mat-form-field>
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Emergency Contact</mat-label>
      <input matInput placeholder="777777777" value="" formControlName="emergency_contact" required>
      <mat-icon matSuffix>phone</mat-icon>
    </mat-form-field>
  </div>
</ng-template>
