<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 w-100">

  <!-- prop Column -->
  <ng-container *ngFor="let column of displayColumnFilter">
    <ng-container matColumnDef="{{column}}">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:10%;">{{getLanguageKeyColumn(column) | translate}}</th>
      <td mat-cell *matCellDef="let element" style="width:10%;"> {{element[column]}} </td>
    </ng-container>
  </ng-container>


  <!-- Action Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef class="text-center"> {{'ACTIONS.LABEL' | translate}} </th>
    <td mat-cell *matCellDef="let element" class="text-center">
      <button
        mat-icon-button
        matTooltip="{{'ACTIONS.UPDATE' | translate}}"
        matTooltipPosition="before"
        (click)="update(element)"
        class="mr-2">
        <mat-icon>edit</mat-icon>
      </button>
      <button
        mat-icon-button
        matTooltip="{{'ACTIONS.DELETE' | translate}}"
        matTooltipPosition="after"
        (click)="delete(element.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

